@supports not (-webkit-line-clamp: 2) {
  .event__title_truncated:after {
    content: '\2026';
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    background: linear-gradient(
      to right, 
      rgba(250, 250, 250, 0.5),
      rgba(250, 250, 250, 1) 50%
    );
    width: 50px;
  }

  body:not(.touch) .event:hover .event__title_truncated:after {
    background: linear-gradient(
      to right, 
      rgba(243, 243, 243, 0.5),
      rgba(243, 243, 243, 1) 50%
    );
  }

  .event_critical .event__title_truncated:after {
    background: linear-gradient(
      to right, 
      rgba(219, 83, 65, 0.5),
      rgba(219, 83, 65, 1) 50%
    );
  }

  body:not(.touch) .event_critical:hover .event__title_truncated:after {
    background: linear-gradient(
      to right, 
      rgba(218, 74, 55, 0.5),
      rgba(218, 74, 55, 1) 50%
    );
  }
}
