.content__wrapper_video {
  height: 100%;
  box-sizing: border-box;
  padding: 15px 0;
}

.cameras {
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
